@font-face{
    font-family:pfhighway;
    src:url(../fonts/pfhighway-thin-v2.eot);
    src:url(../fonts/pfhighway-thin-v2.eot?#iefix) format('embedded-opentype'),
    url(../fonts/pfhighway-thin-v2.woff) format('woff'),
    url(../fonts/pfhighway-thin-v2.ttf) format('truetype');
    font-weight:100;
    font-style:normal
}
@font-face{
    font-family:ms_gothic;
    src: url(../fonts/MSNeoGothic.ttf) format('truetype');
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('../fonts/BebasNeueRegular.eot?') format('eot'),
    url('../fonts/BebasNeueRegular.woff') format('woff'),
    url('../fonts/BebasNeueRegular.ttf') format('truetype'),
    url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../fonts/BebasNeueBook.eot?') format('eot'),
    url('../fonts/BebasNeueBook.woff') format('woff'),
    url('../fonts/BebasNeueBook.ttf') format('truetype'),
    url('../fonts/BebasNeueBook.svg#BebasNeueBook') format('svg');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light.eot?') format('eot'),
    url('../fonts/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light.ttf') format('truetype'),
    url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
}
/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    line-height: 1.2em;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
/*body {
	line-height: 1;
}*/
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    font: 20px/1.4em 'Roboto Light', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.4em;
    height: 100%;
    background-color: #000000;
    color: #FFF;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #FFF;
    padding: 9px;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1;
}
.top_logo {
    display: inline-block;
    margin-left: 30px;
}
.top_logo img {
    height: 40px;
}
.menu_block {
    float: right;
    display: inline-block;
    text-align: right;
}
/*Button*/
.respons_btn {
    display: inline-block;
    width: 40px;
    position: relative;
    font-size: 36px;
    cursor: pointer;
    text-align: center;
}
.respons_btn:before {
    content: "\2261";
}

/*Menu*/
.menu {
    display: inline-block;
}
.menu li {
    display: inline-block;
    margin: 5px;
}
.menu li a {
    color: #FFF;
    font-size: 32px;
    text-decoration: none;
    font-family: 'Bebas Neue Book',  Helvetica, Arial, sans-serif;
}
.menu li a:hover,
.menu li a.cur {
    color: #f7dd00;
}

/* Middle
-----------------------------------------------------------------------------*/
.wrapper {
    width: 100%;
    /*min-width: 1000px;*/
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.main_content {
    padding: 0;
}

section {
    display: table;
    height: 100vh;
    width: 100%;
    /*padding-top: 100px;*/
}
.content {
    height: 100vh;
    padding-top: 80px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

/*Section 1*/
.section_1 {

    text-align: center;
    color: #FFF;
}
.section_1 .logo img {
    width: 230px;
}
.section_1 .content::before {
    content: ' ';
    display: block;
    position: absolute;
    top: calc(50% - 272.5px);
    left: 0;
    width: 110px;
    height: 525px;
    background: url(../img/bg_left.png) center center no-repeat;
    background-size: cover;
}
.section_1 .content::after {
    content: ' ';
    display: block;
    position: absolute;
    top: calc(50% - 272.5px);
    right: 0;
    width: 110px;
    height: 525px;
    background: url(../img/bg_right.png) center center no-repeat;
    background-size: cover;
}
.section_1 .btn_more {
    color: #FFF;
    display: block;
    width: 100px;
    height: 80px;
    margin: 0 auto;
    font-size: 60px;
    background: url(../img/triangle-1.png) bottom center no-repeat;
    background-size: 100%;
    text-decoration: none;
    font-family: 'Bebas Neue Book',  Helvetica, Arial, sans-serif;
}

.section .content {
    position: relative;
}
.section_1 .title_1 {
    font-size: 70px;
}
.section_1 .date {
    font-size: 50px;
    margin-top: 15px;
}


/*Section 2*/
.section_2 .content {
    text-align: center;
}
.section_2 .sec_title {
    margin: 40px 0;
    font-size: 70px;
    text-align: center;
    line-height: 1.2em;
}
.section_2 .steps_to_start > * {
    display: inline-block;
    /*width: 30%;*/
    text-align: center;
    vertical-align: top;
}
.section_2 .steps_to_start h3 {
    font-size: 70px;
    line-height: 1.2em;
}
.steps_to_start .info {
    display: table;
    position: relative;
    width: 320px;
    height: 320px;
    padding: 50px;
    margin: 20px 45px;

    background-color: #FFDD00;

    font-size: 25px;
    color: #000;
    border-radius: 50%;
    vertical-align: middle;
}
.steps_to_start .info span {
    display: table-cell;
    vertical-align: middle;
}
.steps_to_start .info:before,
.steps_to_start .info:after {
    content: ' ';
    display: block;
    position: absolute;
    /*top: calc(50% - 15px);*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFDD00;
}
.steps_to_start .info:before {
    /*left: -40px;*/
}
.steps_to_start .info:after {
    /*right: -40px;*/
}
.steps_to_start .step_1 .info:before,
.steps_to_start .step_3 .info:after {
    display: none;
}

/*Section 3*/
.section_3 .content {
    text-align: center;
}
.section_3 .title_1 {
    color: #ffdd00;
    font-size: 85px;
}
.section_3 h3 {
    color: #FFF;
    font-size: 50px;
    margin-bottom: 20px;
}
.users_btn {
    display: inline-block;
    text-align: center;
}

.section_4 {
    color: #FFF;
}
.section_4 .sec_title {
    margin-bottom: 45px;
    font-size: 50px;
    color: #ffdd00;
    font-weight: 100;
}
.section_4 .content {
    text-align: center;
}
.section_4 .prizes {
    /*width: 1000px;*/
    margin: 0 auto;
}
.section_4 .prizes p {
    margin-bottom: 50px;
    font-size: 36px;
}
.section_4 .prizes b {
    display: block;
    margin: 15px 0;
    font-size: 45px;
    color: #ffdd00;
}


.section_5 .sec_title {
    margin-bottom: 45px;
    font-size: 50px;
    color: #ffdd00;
    font-weight: 100;
    text-align: center;
}
.footer {
    border-top: 2px solid #FFDD00;
    text-align: center;
}
.footer p {
    font-size: 150px;
    font-family: 'Bebas Neue Book',  Helvetica, Arial, sans-serif;
}
.footer p a {
    display: block;
    font-size: 76px;
    text-decoration: none;
    color: #FFF;
}
.footer p a:hover {
    color: #FFDD00;
}


.section_place .placeinfo {
    /*width: 1060px;*/
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
}
.section_place .placeinfo > * {
    vertical-align: top;
}
#map {
    /*display: inline-block;*/
    width: 500px;
    height: 400px;
    margin-right: 15px;
}
.placeinfo .info {
    /*display: inline-block;*/
    /*width: 500px;*/
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 35px;
    /*line-height: 1.2em;*/
}

.section_place .sec_title {
    margin-bottom: 45px;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}
.section_place span {
    color: #FFDD00;
    display: inline-block;
}
.sec_title {
    /*width: 1060px;*/
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
}
.section_timetable .info {
    /*width: 1060px;*/
    margin: 0 50px 50px;
}
.section_timetable .info a {
    color: #FFDD00;
}
.section_timetable .info a:hover {
    color: #FFFFFF;
}
.section_timetable .info .big_span {
    display: inline-block;
    font-size: 50px;
    margin-left: -35px;
    margin-top: 10px;
    vertical-align: baseline;
}
.section_timetable h2 {
    color: #FFDD00;
    margin-bottom: 10px;
}
.section_timetable .info {
    margin-bottom: 50px;
    font-size: 20px;
    max-width: 960px;
    margin: 0 auto 50px;
}
.timetable,
.rules,
.a_table {
    /*width: 1060px;*/
    width: 100%;
}
.timetable tr:nth-child(2n+1),
.rules tr:nth-child(2n+1),
.a_table tr:nth-child(2n+1) {
    background: rgba(255, 255, 255, 0.1);
}
.timetable tr td,
.rules tr td,
.a_table tr td,
.a_table tr th {
    padding: 10px;
    vertical-align: middle;
}
.timetable tr td:first-child,
.rules tr td:first-child {
    width: 200px;
    text-align: left;
}
.timetable tr td:last-child,
.rules tr td:last-child {
    text-align: right;
}
.rules tr td:first-child {
    font-size: 45px;
    font-weight: bold;
}
.a_table tr td:not(:first-child){
    text-align: center;
}
/* Responsive
-----------------------------------------------------------------------------*/

/* Form
-----------------------------------------------------------------------------*/

.btn {
    display: block;
    margin: 15px auto;
    padding: 10px 15px;
    border-radius: 10px;
    border: 3px solid #000;

    color: #000;
    background-color: #ffdd00;
    text-decoration: none;
    font-weight: 100;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.btn:hover,
.btn:active {
    color: #ffdd00;
    border-color: #ffdd00;
    background: #000;
}
.btn.btn_large {
    /*padding: 30px 50px;*/
    font-size: 45px;
    border-width: 5px;
    /*margin: 30px 50px;*/
}
.btn.btn_medium {
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 30px;
}

.form_row > * {
    vertical-align: middle;
    margin-bottom: 15px;
}

input {
    height: 45px;
    width: 315px;
    background: #FFF;
    border-radius: 0;
    padding: 10px;
    font: inherit;
    font-size: 20px;
    color: #333;
}

button {
    height: 45px;
    background: #333;
    border-radius: 0;
    border: 2px solid #ffdd00;
    padding: 10px;
    font: inherit;
    font-size: 20px;
    color: #FFF;
}

textarea {
    background: #FFF;
    border-radius: 0;
    border: 2px solid #ffdd00;
    padding: 10px;
    font: inherit;
    font-size: 20px;
    color: #333;
}

.inpt_large {
    width: 510px;
    height: 60px;
    margin: 10px;

    padding: 20px;
    color: #333;
}
.inpt_txt {
    width: 1040px;
    height: 260px;
    margin: 10px 10px 50px;
    background: #FFF;
    border-radius: 0;
    border: 2px solid #ffdd00;

    padding: 10px;
    font: inherit;
    color: #333;
}
.inpt_lbl {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    font-size: 28px;
    color: #FFF;
    text-align: left;
}
.inpt_rad {
    display: none;
}
.inpt_rad_lbl {
    display: inline-block;
    margin-right: 10px;
    width: 45px;
    height: 45px;
    border: 3px solid #ffdd00;
    border-radius: 50%;


    line-height: 39px;
    font-size: 24px;
    text-align: center;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.inpt_rad:checked+.inpt_rad_lbl,
.inpt_rad_lbl:hover {
    background: #FFF;
    color: #000;
    color: #000;
}