<div style="text-align:center" style="padding:5px;margin:10px;">
<input type="text" id="botUrl" ng-model="botUrl" autocomplete="off" style="width:100%;margin-bottom: 10px;margin-top: 30px;"/>
<input type="text"   autocomplete="off" style="width:100%;margin-bottom: 10px;"/>
<textarea ng-model="chat" cols="50" rows="10" style="width:100%;resize: none;" readonly/>
</div>
