<!DOCTYPE html>
<html>
<head>
    <title>Тинькофф	Банк. Эра ботов</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <base href=""/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/jquery-ui/1.11.2/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/webjars/jquery-ui/1.11.2/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="/webjars/jquery-ui-themes/1.11.2/redmond/jquery-ui.min.css"/>


    <link rel="stylesheet" href="/css/main.css"/>

    <script type="text/javascript" src="/webjars/jquery/2.1.3/jquery.min.js" ></script>
    <script type="text/javascript" src="/webjars/jquery-ui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/webjars/json2/20140204/json2.min.js" ></script>
    <script type="text/javascript" src="/webjars/angularjs/1.3.10/angular.min.js" ></script>
    <script type="text/javascript" src="/webjars/angularjs/1.3.10/angular-resource.min.js" ></script>
    <script type="text/javascript" src="/webjars/angularjs/1.3.10/angular-route.min.js" ></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.2/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="/webjars/jquery-placeholder/2.0.7/jquery.placeholder.js" ></script>
    <script type="text/javascript" src="/webjars/lodash/3.6.0/lodash.min.js"></script>

</head>
<body ng-app="appModule">
<div ng-controller="baseCtrl">
    <div class="container-liquid" style="margin:40px">
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                «Соревнование программистов»	© ™  «Тинькофф	Банк. Эра ботов»
            </div>
        </div>
        <div class="row" style="margin-bottom:20px;margin-top:40px">
        <div class="col-md-12" style="text-align:center">
            <input type="text" id="queryInput" ng-model="queryText" ng-enter="doQuery(queryText)" style="width:600px"/>
            <button id="queryBtn" ng-click="doQuery(queryText)" style="padding:7px;">GO</button>
        </div>
        </div>
        <div class="row">
            <div class="col-md-4" bot-dialog>
            </div>
            <div class="col-md-4"bot-dialog>
            </div>
            <div class="col-md-4"bot-dialog>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" bot-dialog>
            </div>
            <div class="col-md-4"bot-dialog>
            </div>
            <div class="col-md-4"bot-dialog>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" bot-dialog>
            </div>
            <div class="col-md-4"bot-dialog>
            </div>
            <div class="col-md-4"bot-dialog>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
